<HTML>
<BODY>
    <form action="/greeting" method="post">
        <label for="name">What's your name?</label>
        <input type="text" id="name" name="name" autofocus />
        <button type="submit">Submit</button>
    </form>
</BODY>
</HTML>
